:root {
    --cor-principal-1: rgba(218, 34, 42, 1);
    --cor-principal-2: rgba(243, 130, 34, 1);
    --cor-apoio: rgba(255, 233, 217, 1);
    --cor-reforco-positivo: rgba(106, 216, 0, 1);
    --cor-apoio-transparente: rgba(255, 233, 217, 0.3);
    --cor-letra-branco: white;
    --cor-letra-preto: black;
}

.background-image-xl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/storage/images/background-xl.png");
    background-size: cover;
    background-position: center;
    z-index: -3;
    opacity: 0.8;
}

.background-image-sm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/storage/images/background-sm.png");
    background-size: cover;
    background-position: center;
    z-index: -3;
    opacity: 0.8;
}

.background-image-md {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/storage/images/background-md.png");
    background-size: cover;
    background-position: center;
    z-index: -3;
    opacity: 0.8;
}

.texto_welcome {
    color: var(--cor-letra-branco);
}

.btn-cor-principal-1 {
    margin: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
    background-color: var(--cor-principal-1);
    border-color: var(--cor-principal-1);
    color: var(--cor-letra-branco);
}

.btn-cor-principal-1:hover,
.btn-cor-principal-1:focus,
.btn-cor-principal-1:active {
    background-color: rgba(218, 34, 42, 0.8);
    border-color: rgba(218, 34, 42, 0.8);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-principal-2);
    opacity: 0.6;
    z-index: -2;
}

.icone_footer {
    width: 100px;
    height: 100px;
    transition: background-image 0.3s ease-in-out;
}

.texto_footer {
    color: var(--cor-letra-preto);
}

.icone_email {
    background-image: url("/storage/images/email-preto-390px.svg");
}

.icone_email:hover {
    background-image: url("/storage/images/email-laranja-390px.svg");
}

.icone_mapa {
    background-image: url("/storage/images/mapa-preto-390px.svg");
}

.icone_mapa:hover {
    background-image: url("/storage/images/mapa-laranja-390px.svg");
}

.icone_telefone {
    background-image: url("/storage/images/telefone-preto-390px.svg");
}

.icone_telefone:hover {
    background-image: url("/storage/images/telefone-laranja-390px.svg");
}

.texto_copyright {
    color: var(--cor-letra-branco);
}

.cartao {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--cor-apoio-transparente);
    border-radius: 10px;
}

.sombra:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.item-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.legenda {
    font-size: 1.2rem;
    margin: 5px;
    font-weight: 900;
    color: rgb(223, 96, 96);
}

.legenda_user {
    font-size: 1.2rem;
    margin: 5px;
    font-weight: 900;
    color: var(--cor-letra-branco);
}

.legenda_user:hover {
    font-size: 1.5rem;
    margin: 5px;
    color: var(--cor-principal-1);
    font-size: 1.2rem;
    font-weight: 900;
}

.img_cartao {
    border-radius: 5px;
    width: 15rem;
    height: 15rem;
}

.div_cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.div_cartao:hover {
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.5);
}

.div_cartao input[type="checkbox"]:checked + label {
    border: 2px solid var(--cor-reforco-positivo);
    box-shadow: 0 0 30px var(--cor-reforco-positivo);
    border-radius: 5px;
}

.img-ini {
    width: 90% !important;
    height: 30% !important;
}

.img-cards {
    width: 19rem !important;
    height: 12rem !important;
}

.legenda:hover {
    font-size: 1.2rem;
    margin: 5px;
    color: red;
    font-size: 1.2rem;
    font-weight: 900;
}

.cards {
    background: linear-gradient(180deg, #a1b4d8 0%, #f88a89 100%);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-seta {
    position: fixed;
    border: none;
    width: 80px;
    height: 90px;
    top: 200px;
    cursor: pointer;
}

.margin-top {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pulsar img {
    width: 141px;
    height: 143px;
    background: transparent;
}

.pulsar {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ffffff93;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 22%;
}

.pulsar::before,
.pulsar::after {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    right: -30px;
    top: -30px;
    bottom: -30px;
    border-radius: 50%;
    border: 15px solid #dfdada;
    animation: animar 1.5s linear infinite;
}

.pulsar::after {
    animation-delay: 0.5s;
}

@keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.cad-ini {
    height: 50vh;
}

tr:hover {
    background-color: #f5f5f5;
}

.borda_amarela {
    border: solid 3px yellow;
}

.borda_azul {
    border: solid 3px blue;
}

.image-welcome {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

/* Padrão BOOTSTRAP - Para telas extra pequenas (XS) - max-width: 575px */
@media (max-width: 575px) {
    .image-welcome {
        width: 100%;
        max-width: 500px;
        height: auto;
    }
}

/* Padrão BOOTSTRAP - Para telas pequenas (SM) - 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
    /* Suas regras de estilo aqui */
}

/* Padrão BOOTSTRAP - Para telas médias (MD) - 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
    /* Suas regras de estilo aqui */
}

/* Padrão BOOTSTRAP - Para telas grandes (LG) - 992px a 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Suas regras de estilo aqui */
}

/* Padrão BOOTSTRAP - Para telas extra grandes (XL) - 1200px a 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
    /* Suas regras de estilo aqui */
}

/* Padrão BOOTSTRAP - Para telas extra extra grandes (XXL) - 1400px e acima */
@media (min-width: 1400px) {
    /* Suas regras de estilo aqui */
}

