
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/storage/images/background_araucaria.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

.icone_footer {
    width: 100px;
    height: 100px;
}

.texto_footer {
    color: black;
}

.carao {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.sombra:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.item-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.legenda {
    font-size: 1.2rem;
    margin: 5px;
    font-weight: 900;
    color: rgb(223, 96, 96);
}

.img_cartao {
    border-radius: 5px;
    width: 15rem;  
    height: 15rem;
}

.div_cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;    
}

.img-ini{
    width: 90% !important;
    height: 30% !important;
}
.img-cards{
    width: 19rem !important;
    height: 12rem !important;
}

.div_cartao:hover {
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.5); 
}

.legenda:hover{
    font-size: 1.2rem;
    margin: 5px;
    color:red;
    font-size: 1.2rem;
    font-weight: 900;
}
.cards{  
    /* background: radial-gradient(circle, rgba(247,238,242,1) 0%, rgb(207, 198, 198) 100%); */
    background: linear-gradient(180deg, #a1b4d8 0%, #f88a89 100%);
    flex-wrap: wrap; 
    justify-content:space-evenly;    
    /* height: 100vh;     */
}

.btn-seta{
    position:fixed;
    border:none;
    width: 80px;
    height: 90px;
    top:200px;
    cursor: pointer;
}

.margin-top {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media(max-width:700px){
    
    .d-none {
        display: none !important;
    }
    .img_cartao {      
        border-radius: 5px;
        /* width: 183%;       */
        height: -webkit-fill-available;        
    }

    .div_cartao {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        padding: 2px;      
    }
    
    .btn-seta{
        position:fixed;
        border:none;
        width: 48px;
        height: 49px;
        /* top:520px; */
        cursor: pointer;
    }
    .img-ini{
        max-width: 355%;
    }
}




.pulsar img{
    width: 141px;
    height: 143px;
    background: transparent;
}
.pulsar{
    position: relative;
    width: 200px;
    height: 200px;
    background: #ffffff93;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:22%;
}
.pulsar::before, .pulsar::after{
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    right: -30px;
    top:-30px;
    bottom: -30px;
    border-radius: 50%;
    border: 15px solid #dfdada;
    animation: animar 1.5s linear infinite;
}
.pulsar::after{
    animation-delay: .5s;
}
@keyframes animar{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}
.cad-ini{
    height: 50vh;
}

tr:hover {
    background-color: #f5f5f5; 
}

.div_cartao input[type="checkbox"]:checked + label {
    border: 2px solid blue; 
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.5); 
    border-radius: 5px;
}

.borda_amarela{
    border: solid 1px yellow;
}

.borda_azul{
    border: solid 1px blue;
}